.search-container {
    margin-bottom: 20px;
  }

  /* Estilizando o container do índice */
.index-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Estilizando os botões do índice */
.index-container button {
  margin: 0 5px;
  font-size: 16px;
  background-color: #eee;
  color: #333;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

/* Estilizando o botão 'TODOS' */
.index-container button:first-child {
  font-weight: bold;
}

/* Estilizando o botão ativo */
.index-container button.active {
  background-color: #333;
  color: #fff;
}

   .arrow-up {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #000;
    margin-left: 5px;
    vertical-align: middle;
  }
  
  .arrow-down {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000;
    margin-left: 5px;
    vertical-align: middle;
  }
  
  input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
  }
  
  table {
      border-collapse: collapse;
      width: 100%;
  }
  
  th,
  td {
      text-align: left;
      padding: 8px;
  }
  
  th {
      background-color: #333;
      color: white;
  }
  
  tr:nth-child(even) {
      background-color: #f2f2f2;
  }
  
  .logo {
      width: 100px;
      height: auto;
  }
